{%extends 'courses/course_dashboard.html'%}

{%block dashboard_content%}
{% for announcement in announcements %}
<div class="well">
	<h2>{{announcement}}</h2>
	{{announcement.content|linebreaks}}
	<p>
		<a href="#comments">
			<i class="far fa-comments"></i>
			{%with comments_count=announcement.announcements_comments.count%}
			{{comments_count}}
			Comentário{{comments_count|pluralize}}
			{%endwith%}
		</a>
	</p>
</div>
{%empty%}
<div class="well">
	<h2>Não há anúncios</h2>
</div>
{%endfor%}
{%endblock%}